# Python bytecode
test.py
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
.env/

# IDE / editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Python packaging
*.egg
*.egg-info/
dist/
build/
pip-wheel-metadata/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# CSV files (blokowanie wszystkich plików CSV)
*.csv

# Environment files
.env
.venv/
env/

